<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>

<h1 th:text=" '상품 목록' "/>
<table border>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>ETC</td>
  </tr>
  <tr th:each="one : ${list}">
    <td th:text="${one.product_id}"/>
    <td th:text="${one.product_name}"/>
    <td> <a th:href="@{'/update/' + ${one.product_id}}">수정</a> | <a th:href="@{'/delete/' + ${one.product_id}}">삭제</a></td>
  </tr>
  </tr>
</table>
</body>
</html>